<div id="container">
<p id="notice"><%= notice %></p>

<div id="logo">
  <%= image_tag('logo.png') %>
</div>

<div id="description">
  <p>
    랜덤웍스가 2011년에 TED Fellow가 되었습니다.
    희망찬 랜덤웍스의 2011년을 기원하면서 2010년, 여러분들의 가장 기억에 남은 시간을 공유하고자 합니다. 트위터에 남겨주신 데이터를 시각화 하여 올해는 어떤 일이 생겼는지, 가장 기억에 남은 순간을 저희와 공유해 주세요!
  </p>

  <p>
    - - - - - - - - - - - - - - - - - - - - - - - -
  </p>
  <p>
    Happy X-Mas to all of you!
    randomwalks had great time in this year, and
    hopefully, same in 2011. Before starting 2011,
    we would like to hear and share your most remarkable /
    memorable moments of 2010. Of course, it doesn't have to be happy moment. :) Share your 2010 with us, and let's see what was happened in year 2010.
  </p>
</div>

<div id="form_render">
  <div id="login" style="float:left"></div>
  <div id="signout"><a href="#" id="signout_btn">signout</a></div>
  <div style="clear:both"></div>
  <%= render 'form' %>
</div>

<div id="howto">

  <div style="margin-bottom:10px"></div>
  <div id="tabs">
    <h2>참여 방법</h2>
    <p>
      <h3>1. 홈페이지를 통해서</h3>
      Connect to Twitter를 눌러서 트위터에 로그인하신 후, 2010년 기억에 남았던 날(기억을 더듬어보세요!)을 적으신 후 Tweet해 주세요. 
    </p>
    <p style="margin-top:10px">
      <h3>2. @rdwks에게 멘션을 보내주세요.</h3>
      랜덤웍스 트위터 계정(@rdwks) 으로 2010년 기억에 남았던 일을 날짜와 함께 보내주세요. 이후 랜덤웍스에서 분류하여 시각화합니다.
    </p>
  </div>
  <div>
    <div style="position:absolute;bottom:0;left:0;width:100px;margin-right:10px;font-size:0.8em;font-weight:bold;line-height:13px">
      <div id="window_01" class="windowst">
      </div>
      <a href="#" title="사람들의 2010년 사건 사고가<br/>트리가 되어 한 해를 마무리한다.<br/>실시간으로 사람들의 트윗을 달고 커나가는 트리는 <br/>좋았던 일과 안 좋았던 일을 분류하여<br/> 두 가지의 색으로 나타낸다.">Window 01 : <br/>Holiday Tree</a>
    </div>

    <div style="position:absolute;bottom:0;left:100px;width:100px;margin-right:10px;font-size:0.8em;font-weight:bold;line-height:13px">
      <div id="window_02" class="windowst">
      </div>
       <a href="#" title="개인의 기억은 무의식 속에서 <br/>일어나는 분류와 여과 과정을 통해서 재정의 된다. <br/>사람들의 기억에서만 존재하는 '순간'들에 의한 <br/>2010년 타임라인은 기억의 순간이 많을 수록 <br/>정신적 뿐만 아니라 시각적으로도 두드러진다.">Window 02 : <br/>Timeline</a>
    </div>
    <div style="position:absolute;bottom:0;width:100px;left:200px;margin-right:10px;font-size:0.8em;font-weight:bold;line-height:13px">
      <div id="window_03" class="windowst">
      </div>
       <a href="#" title="">Window 03 : <br/>Picture</a>
    </div>
   
    <div style="position:absolute;bottom:0;width:100px;left:300px;margin-right:10px;font-size:0.8em;font-weight:bold;line-height:13px">
      <div id="window_04" class="windowst">
      </div>
       <a href="#" title="일어난 일을 중심으로 하여 이야기를 나열한다.">Window 04 : <br/>Lists</a>
    </div>
    
  </div>

</div>
<div id="rwlogo">
  <%= link_to  image_tag('rw_logo.jpg'), 'http://randomwalks.org' %>
</div>

  <div id="tweet_list_iframe" class="dragWindow">
    <div id="listContent">
    </div>
  </div>

  
  <div id="tree_iframe" class="dragWindow">
    <div id="flashContent">
			<a href="http://www.adobe.com/go/getflashplayer">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		</div>
  </div>


<div id="empty">
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(e){
     $("#signout_btn").live("click", function(e){
       e.preventDefault();
       twttr.anywhere.signOut();
    });

  
    $('[title]').colorTip({color:'black'});

    $("#date").datepicker({ dateFormat: "mm/dd", minDate: new Date(2010, 0, 1), maxDate: new Date(2010, 11, 31) });
    $(".dragWindow").hide();
    $("#seeResult").click(function(e){
      e.preventDefault();

      $(".dragWindow").show();
      $("#empty").show();
      $("#tweet_list_iframe").dialog({resizable:false, position:[$(window).width() - 200, $(window).height() - 120 - 620], width:200, height:350});
      $("#tree_iframe").dialog({resizable:false, position:[$(window).width() - 200 - 700, $(window).height() - 120 - 620], width:700, height:620});

      $("#tweet_list_iframe").load("http://xmastree.randomwalks.org/tweets/tweetlist");
      var tops = $(window).height() - 120;
      tops += '';
      
      var profileTop = $(window).width - 200 - 700 - 200;
      profileTop += '';
      var profileLeft = $(window).height() - 120 - 620 - 200;
      profileLeft += '';

      window.open("http://xmastree.randomwalks.org/applet/timeline.html","timeline","width=1200,height=100,toolbar=no,location=no,status=no,scrollbars=no,resizable=no,left=200,top=" + tops);
      window.open("http://xmastree.randomwalks.org/applet/profile.html","profile","width=300,height=300,toolbar=no,location=no,status=no,scrollbars=no,resizable=no,left="+profileLeft+",top=" + profileTop);
     
      var flashvars = {};
      var params = {};
      var attributes = {};
      attributes.id = "flashswfContent";
      swfobject.embedSWF("/swfs/Xmastree.swf", "flashContent", "700", "600", "10.0.0", false, flashvars, params, attributes);

    });
    
  });

  twttr.anywhere(function (T) {
    T.hovercards();
    
    if (T.isConnected())
    {
        $("#signout").show();
        $(".calendar").fadeIn();
        $("#date").attr("disabled", false);
        $("#memory").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("src", '/images/btn.png');
        $("#memory").val("기억을 써주세요");
        $.placeholder($("#memory"));

        var tweet_func = {
          status : T.Status,
          actionContainer: $("#tweet_button_actions"),
          btn: $("#tweet_submit").clone(),
          form: $("#new_tweet"),
          wait: $("<img/>", {src:"/images/ajax-loader.gif"}),
          addTweet: function(status){
              var screen_name = $("<input/>", {type:'hidden', name: 'screen_name', value: status.user.screenName});
              var pic = $("<input/>", {type:'hidden', name: 'pic', value: status.user.profileImageUrl});
              var status_id = $("<input/>", {type:'hidden', name: 'status_id', value: status.id});

              this.form.append(screen_name);
              this.form.append(status_id);
              this.form.append(pic);

              $.ajax({
                type: 'POST',
                url: this.form.attr('action') + '.json',
                data: this.form.serialize(),
                success: $.proxy(this.finalFunc, this)
              }); 
          },
          finalFunc: function(data){
            // popup!
          
            $(".dragWindow").show();
            $("#empty").show();
            $("#tweet_list_iframe").dialog({resizable:false, position:[$(window).width - 200, $(window).height() - 120 - 350], width:200, height:350});
            $("#tree_iframe").dialog({resizable:false, position:[$(window).width - 200 - 700, $(window).height() - 120 - 620], width:700, height:620});

            $("#tweet_list_iframe").load("http://xmastree.randomwalks.org/tweets/tweetlist");
            var tops = $(window).height() - 120;
            tops += '';
            
            var profileTop = $(window).width - 200 - 700 - 200;
            profileTop += '';
            var profileLeft = $(window).height() - 120 - 620 - 200;
            profileLeft += '';

            window.open("http://xmastree.randomwalks.org/applet/timeline.html","timeline","width=1200,height=100,toolbar=no,location=no,status=no,scrollbars=no,resizable=no,left=200,top=" + tops);
            window.open("http://xmastree.randomwalks.org/applet/profile.html","profile","width=300,height=300,toolbar=no,location=no,status=no,scrollbars=no,resizable=no,left="+profileLeft+",top=" + profileTop);
           
            var flashvars = {};
            var params = {};
            var attributes = {};
            attributes.id = "flashswfContent";
            swfobject.embedSWF("/swfs/Xmastree.swf", "flashContent", "700", "600", "10.0.0", false, flashvars, params, attributes);
            

            this.actionContainer.append(this.btn);
            this.wait.remove();
          },

          submitFunction: function(e){
            e.preventDefault();
            this.actionContainer.append(this.wait);
            var btn = $("#tweet_submit");
            btn.remove();

            var splitString = $("#date").val().split('/');
            var body = $("#memory").val() + " / " + splitString[0] + "월 " + splitString[1] + "일 @rdwks #2010Adieu";
            this.status.update(body, {
              success: $.proxy(this.addTweet, this),
              error: function(){
                alert("140자 이상 입력하셨거나 이미 등록된 트윗입니다.");
              }
            });

            

          }
        };

        $("#new_tweet").live('submit', $.proxy(tweet_func.submitFunction, tweet_func));
    }
    else
    {
    }

    T.bind("authComplete", function (e, user) {
        $("#signout").show();
        $(".calendar").fadeIn();
        $("#date").attr("disabled", false);
        $("#memory").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("src", '/images/btn.png');
        $("#memory").val("기억을 써주세요");
        $.placeholder($("#memory"));


        var tweet_func = {
          status : T.Status,
          actionContainer: $("#tweet_button_actions"),
          btn: $("#tweet_submit").clone(),
          form: $("#new_tweet"),
          wait: $("<img/>", {src:"/images/ajax-loader.gif"}),
          addTweet: function(status){
              var screen_name = $("<input/>", {type:'hidden', name: 'screen_name', value: status.user.screenName});
              var pic = $("<input/>", {type:'hidden', name: 'pic', value: status.user.profileImageUrl});
              var status_id = $("<input/>", {type:'hidden', name: 'status_id', value: status.id});

              this.form.append(screen_name);
              this.form.append(status_id);
              this.form.append(pic);

              $.ajax({
                type: 'POST',
                url: this.form.attr('action') + '.json',
                data: this.form.serialize(),
                success: $.proxy(this.finalFunc, this)
              }); 
          },
          finalFunc: function(data){
            // popup!
            //$(".dragWindow").show();
            
            
            
            $(".dragWindow").show();
            $("#empty").show();
            $("#tweet_list_iframe").dialog({resizable:false, position:[$(window).width - 200, $(window).height() - 120 - 350], width:200, height:350});
            $("#tree_iframe").dialog({resizable:false, position:[$(window).width - 200 - 700, $(window).height() - 120 - 620], width:700, height:620});

            $("#tweet_list_iframe").load("http://xmastree.randomwalks.org/tweets/tweetlist");
            var tops = $(window).height() - 120;
            tops += '';
            
            var profileTop = $(window).width - 200 - 700 - 200;
            profileTop += '';
            var profileLeft = $(window).height() - 120 - 620 - 200;
            profileLeft += '';

            window.open("http://xmastree.randomwalks.org/applet/timeline.html","timeline","width=1200,height=100,toolbar=no,location=no,status=no,scrollbars=no,resizable=no,left=200,top=" + tops);
            window.open("http://xmastree.randomwalks.org/applet/profile.html","profile","width=300,height=300,toolbar=no,location=no,status=no,scrollbars=no,resizable=no,left="+profileLeft+",top=" + profileTop);
           

            var flashvars = {};
            var params = {};
            var attributes = {};
            attributes.id = "flashswfContent";
            swfobject.embedSWF("/swfs/Xmastree.swf", "flashContent", "700", "600", "10.0.0", false, flashvars, params, attributes);
            
      
            this.actionContainer.append(this.btn);
            this.wait.remove();
          },

          submitFunction: function(e){
            e.preventDefault();
            this.actionContainer.append(this.wait);
            var btn = $("#tweet_submit");
            btn.remove();

            var splitString = $("#date").val().split('/');
            var body = $("#memory").val() + " / " + splitString[0] + "월 " + splitString[1] + "일 @rdwks #2010Adieu";
            this.status.update(body, {
              success: $.proxy(this.addTweet, this),
              error: function(){
                alert("140자 이상 입력하셨거나 이미 등록된 트윗입니다.");
              }
            });

            /*
            if (!($("#month").val() >= 1 && $("#month").val() <= 12))
            {
              $.errorMessage("달에는 1과 12 사이의 숫자만 입력하셔야 합니다.");
            }

            if (!($("#day").val() >= 1 && $("#day") <= 31))
            {
              $.errorMessage("날짜에는 1과 31 사이의 숫자만 입력하셔야 합니다.");
            }
            
          

            */
            

          }
        };

           $("#new_tweet").live('submit', $.proxy(tweet_func.submitFunction, tweet_func));
    });

    T.bind("signOut", function (e) {
      $("#signout").hide()
    });

  });

</script>
