
<div class="tweetlists" style="width:200px">
<% @tweets.each do |tweet| %>
  <%= tweet.title %> 

  <% if @tweets.last != tweet %>
    <span class="and" style="display:inline">
      & 
    </span>
  <% end %>
<% end %>
</div>
<script type="text/javascript">
  Cufon.set('fontFamily', 'SM SSMyungJo Std Regular');
  Cufon.replace('.tweetlists', {color: '#d95344', fontSize:'25px', letterSpacing:'-2px' });
  Cufon.replace('.tweet_screenName', {color: '#555555', fontSize:'15px', letterSpacing:'-2px' });
  Cufon.replace('.and', {color: '#000000', fontSize:'20px', letterSpacing:'-5px' });
</script>
