
<div id="tweetlists" style="width:100px">
<% @tweets.each do |tweet| %>
  <div class="tweet_list" style="width:100px">
  <%= tweet.title %> 
 </div>
  <% if @tweets.last != tweet %>
    <span class="and" style="display:inline">
      <b>&</b> 
    </span>
  <% end %>
<% end %>
</div>
<script type="text/javascript">
  Cufon.set('fontFamily', 'SM SSMyungJo Std Regular');
  Cufon.replace('.tweet_list', {color: '#d95344', fontSize:'25px', letterSpacing:'-2px' });
  Cufon.replace('.tweet_screenName', {color: '#555555', fontSize:'15px', letterSpacing:'-2px' });
  Cufon.replace('.and', {color: '#000000', fontSize:'20px', letterSpacing:'-5px' });
</script>
