body { background-color: #fff; color: #333; margin:10px; }

body, p, ol, ul, td, input, textarea {
  font-family: sans-serif;
  font-size:   12px;
  line-height: 18px;
}

input, textarea
{
  border:1px solid #bbb;
  padding:5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
#mention_table
{
  width:100%;
}
#mention_table thead td
{
  background-color:#eee;
  padding:10px;
}

#mention_table thead td.all_check
{
  width:20px;
}

#mention_table tbody td
{
  background-color:#efefef;
  padding:5px;
}

#mention_table tbody td.post_check
{
  text-align:center
}

#logo
{
  position:absolute;
  z-index:1;
  left:200px;
  top:150px;
}

#description
{
  z-index:2;
  position:absolute;
  width:284px;
  height:284px;
}

#form_render
{
  position:absolute;
  left:200px;
  top:450px;
}

#realform
{
  padding:10px;
  border:5px solid rgba(60, 60, 60, 0.1);
  background-color:#D1DEE4;
}

#login
{
  margin-bottom:10px;
}

.calendar
{
  display:none;
}

#tweet_button_actions_btn
{
  border:0
}

#howto
{
  z-index:3;
  position:absolute;
  left:550px;
  top:150px;
  width:284px;
}

.windowst
{
  background-color:#ED1C24;
}

#window_01
{
  width:50px;
  height:40px;
}


#window_02
{
  width:70px;
  height:10px;
}


#window_03
{
  width:30px;
  height:30px;
}

#rwlogo
{
  position:absolute;
  bottom:0;
}


#tweet_list_iframe
{
  overflow-y: scroll;
  overflow-x: hidden;
  height:250px;
  width:200px;
  position:absolute;
  z-index:10;
  background:#FFF;

}


#tree_iframe
{
  overflow:hidden;
  height:600px;
  width:700px;
  position:absolute;
  z-index:10;
  background:#FFF;

}